body {
  font-family: Georgia, serif;
  background-color: bisque;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 100px;
  margin-right: 10px;
}

/* Add your own custom styles here */
/* products style  */
.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.product-info {
  width: 300px;
  > img{
    width: 200px;
  }
  border: 1px solid brown;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#site-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-single {
  display: flex;
  margin:0 auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 8px;
  width: 300px;
  > img{
    width: 200px;
  }
  border: 1px solid brown;
}

.product-add-button {
 font-weight: 700;
 font-size: 18px;
 border-radius: 5px;
 border: none;
 outline: none;
 background-color: black;
 color: white;
 width: 100%;
 height: 40px;
 display: block;
 cursor: pointer;
 text-transform: uppercase;
 margin: 15px auto;
}

.product-add-button:hover {
  background-color: red;
}

.product-add-button:active {
  transform: translateY(2px);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid brown;
  padding: 0 17%;
}
   


.categories-electronics:hover {
  background-color: red;
}

.cart-length {
  position: absolute;
  right: 0;
  top: -30px; 
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

 .total-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
 }

 .checkout-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
 }
  .checkout-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 2px solid black;
    gap: 8px;
  }

  